table {
  text-align: center;
  margin: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 2vh;
  text-align: center;
  color: #005c66;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 3vh;
  font-size: 35px;
}

td {
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headline h1 {
  margin: 0;
  flex: 1;
  text-align: center;
}

.headline button {
  margin-left: auto;
}

.border {
  border: 2px solid black;
  border-radius: 8px;
}

.rundenanzeige {
  border: none;
  text-align: center;
  width: 26vw;
  font-size: 30px;
  color: #005c66;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 10px 0;
}

#productList {
  width: 56vw;
  margin: auto;
  text-align: center;
  padding: 0;
}

.center {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.guessButton {
  background-color: #005c66;
  color: white;
  text-align: center;
  font-size: 3vh;
  text-shadow: whitesmoke 1px 0 10px;
  margin: 0;
  width: 56vw;
  height: 8vh;
  box-sizing: border-box;
}

.eingabefeld {
  box-sizing: border-box;
  width: 56vw;
  margin: 3px 0 0;
  text-align: center;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 6vh;
}

.leaderboard tr td {
  padding: 15px 20px;
}

.leaderboard {
  border-radius: 5px;
}

#infoButton {
  width: 45px;
  height: 45px;
  margin: 0 2vw;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  align-self: right;
}

#dynamicDisplay {
  margin: auto;
  width: 56vw;
  display: flow;
}

#erster {
  color: gold;
}

#zweiter {
  color: silver;
}

#dritter {
  color: #cd7f32;
}

#dritter,
#zweiter,
#erster {
  font-weight: bold;
}

#productImgDiv,
#productDescriptionDiv {
  width: 56vw;
  padding: 8px 6px;
  margin: 0;
}

#productDescriptionDiv {
  text-align: center;
}

#LeaderboardTag {
  margin-top: 30px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.hidden {
  display: none;
}

#HighScoreSubmitButton,
#preisAnzeigeAufloesenButton {
  border: none;
  text-align: center;
  background-color: #005c66;
  color: white;
  border-radius: 3px;
  padding: 6px;
}
