table {
  border: 2px solid black;
  text-align: center;
  margin: auto;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
}

td {
  font-size: 20px;
}

.rundenanzeige {
  border: none;
  text-align: center;
  width: 26vw;
  font-size: 35px;
  color: #005c66;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
    padding: 10px 0;
}

.center {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.guessButton {
  background-color: #005c66;
  color: white;
  border: none;
  text-align: center;
  font-size: 3vh;
  border-radius: 8px;
  text-shadow: whitesmoke 1px 0 10px;
  margin: 0px;
  width: 56vw;
  height: 8vh;
}

.eingabefeld {
  box-sizing: border-box;
  width: 56vw;
  border: 1px solid black;
  border-radius: 8px;
  margin: 0px;
  margin-top: 3px;
  text-align: center;
  height: 6vh;
}

.leaderboard tr td {
  padding: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.leaderboard {
    border-radius: 5px;
}

#dynamicDisplay{
    margin: auto;
    width: 56vw;
    display: flow;
    border: 1px solid black;
    border-radius: 8px;
}

#productInformation{
    width: 56vw;
    border: 1px solid black;
    border-radius: 8px;
}

#erster {
  color: gold;
}

#zweiter {
  color: silver;
}

#dritter {
  color: #cd7f32;
}

#dritter,
#zweiter,
#erster {
  font-weight: bold;
}

#productImgDiv, #productDescriptionDiv{
    width: 56vw;
    padding: 0;
    margin: auto;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#productImgDiv{
    border-top: 1px solid black;
border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#productDescriptionDiv {
    border-bottom: 1px solid black;    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 2% 0;
    text-align: center;
}

#LeaderboardTag {
  margin-top: 30px;
}
